@import "./srFormAdd";
// @font-face {
//     font-family: "iconfont";
//     src: url("iconfont.woff2?t=1623169111628") format("woff2"), url("iconfont.woff?t=1623169111628") format("woff"),
//         url("iconfont.ttf?t=1623169111628") format("truetype");
// }
.base-iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.viewer-backdrop{
    background: #fff;
}
#app{
    height: 100%;
}
.contentOut{
    height: 100%;
}


::v-deep html{overflow-y:scroll !important;}

