/**
* I think element-ui's default theme color is too light for long-term use.
* So I modified the default color and you can modify it to your liking.
**/

/* theme color */
$--color-primary: #007aff !default;
$--color-success: #52c41a;
$--color-warning: #faad14;
$--color-danger: #ff4d4f;
// $--color-info: #1E1E1E;

$--button-font-weight: 400;

$--color-text-regular: rgba(38, 38, 38, 1);

$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;

$--table-border: 1px solid#dfe6ec;
/**
* 按钮禁用
*/
$--disabled-font-color: rgba(217, 217, 217, 1);
$--disabled-background-color: rgba(245, 245, 245, 1);
$--disabled-border-color: rgba(191, 191, 191, 1);
//按钮
$--primary-background-color:rgba(0,122,255,1);
$--primary-border-color:rgba(0,122,255,1);
$--danger-background-color:rgba(255,77,79,1);
$--danger-border-color:rgba(255,77,79,1);


/// borderRadius|1|Radius|0
$--border-radius-base: 2px !default;
/// borderRadius|1|Radius|0
$--border-radius-small: 2px !default;

$--danger-border-color: rgba(255, 77, 79, 1);

/* icon font path, required */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  theme: $--color-primary;
}
